:root {
    --main-color: #29796e;
    --sub-color: #cdd0d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    max-width: 300px;
}

body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    background-color: #000000;
}


section {
    color: var(--sub-color);
    display: grid;
    place-content: center;
    overflow: hidden;
}

.section1 {
    height: 99vh;
    background-color: #000000;
    padding: 7%;
    position: relative;
}

.hero {
    z-index: 3;
    margin: 20px;
    width: fit-content;
    max-width: 700px;
    background-color: #29796e20;
    padding: 20px;
}

.hero-text > h1 {
    font-size: clamp(40px, 15vw, 80px);
    /* font-size: 15vw; */
}

.hero, .hero-button {
    border-radius: 10px;
}

.hero-button {
    background-color: #29796e;
    width: clamp(200px, 30vw, 300px);
    text-align: center;
    color: var(--sub-color);
    margin-top: 20px;
}

.hero-button a {
    color: var(--sub-color);
}

.hero-button > a > p {
    padding: 20px;
    
}

.hero-button:hover {
    cursor: pointer;
    color: var(--main-color);
    background-color: var(--sub-color);
    scale: 1.05;
    a {
        color: var(--main-color);
    }
}

.bgimg {
    opacity: 0.3;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
}

.link-svg {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgb(186, 63, 63);
    width: 5vw;
    
}

.section2 {
    background-color: #29796e10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    min-height: 100vh;
}


.card {
    border-radius: 20px;
    width: 90%;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.video {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    min-height: 130%;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    z-index: -1;
}

.projects {
    display: flex;
    gap: 40px 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.projects > * {
    min-width: 380px;
    max-width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px dotted rgb(95, 70, 70);
    border-radius: 5px;
}

.project {
    position: relative;
}
.project:hover {
    .project-extra {
        display: flex;
    }
    .mockups {
        -webkit-filter: blur(3px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
        opacity: 0.7;
    }
}

.project-data {
    background-color: var(--main-color);
    position: absolute;
    top: -25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10px;

}
.project > img {
    width: 100%;
}

.mockups {
    width: 100%;
    background-image: url(assets/projects/food.png);
    height: clamp(180px, 15vw, 220px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;      
}

.project-extra {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
    display: none;
}

.project-extra a {
    color: rgb(186, 63, 63);
}

.project-extra :nth-child(1), .project-extra :nth-child(2) {
    padding: 10px 20px;
}

.project-extra >:nth-child(1) {
    border-right: 5px dashed var(--main-color);
}

.project-extra :nth-child(1):hover, .project-extra :nth-child(2):hover{
    color: var(--main-color);
    background-color: var(--sub-color);
    cursor: pointer;
}


.section3 {
    /* border: 2px solid yellow; */
    padding: 10%;
    background-color: var(--main-color);
}

.more-data >* {
    margin: 20px 0px;
}

.section4 {
    position: relative;
    color: var(--main-color);
    border-top: 10px dashed #053b34;
    border-bottom: 10px dashed #053b34;
    min-height: 50vh;
    background-image: linear-gradient(#29796e, #cdd0d4);
}

.dm-button  {
    padding: 30px;
}

.back-to-top {
    font-size: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media (max-width: 560px) {
    .projects > * {
        min-width: calc(100vw - 60px);
    }    
}
